$bg-color: #0b0c26;
$maincolor: #01e8ba;
$main-bg-color: linear-gradient(to right, #0755f8, #01e8ba);
$small-bg-color: linear-gradient(to right, #0755f8 1%, #01e8ba 5%);
$meduim-bg-color: linear-gradient(to right, #0755f8 20%, #01e8ba 50%);