// IMPORTING GLOBAL VARIABLES AND MIXINS
@import '../../assets/css/variables';
@import '../../assets/css/mixins';

.comming {
  padding: 200px 0 50px;
  h1 {
    text-align: center;
    margin-bottom: 100px;
    font-size: 60px;
    font-weight: 500;
    @include xs {
      font-size: 35px;
    }
    @include sm {
      font-size: 45px;
    }
    @include md {
      font-size: 50px;
    }
  }
  .project {
    display: flex;
    padding: 20px 20px 15px 20px;
    background-color: rgba(255, 255, 255, 0.05);
    border-radius: 10px;
    .left {
      text-align: center;
      position: relative;
      .img {
        width: 100%;
        height: 180px;
        margin-bottom: 10px;
        border-radius: 10px;
        border: 2px solid rgb(28, 27, 46);
        overflow: hidden;
        img {
          width: 100%;
          height: 100%;
          transition: all 0.3s ease-in-out;
        }
      }
      svg {
        margin: 0 5px;
        background-color: rgba(255, 255, 255, 0.05);
        padding: 5px;
        border-radius: 5px;
        cursor: pointer;
      }
      .bobs {
        position: absolute;
        width: 100%;
        top: 0;
        display: flex;
        justify-content: center;
        p {
          margin: 10px 5px;
          font-size: 11px;
          padding: 3px 10px;
          border-radius: 10px;
          &.cond {
            background: $main-bg-color;
            display: flex;
            align-items: center;
            svg {
              font-size: 12px;
              margin: 0px 3px 0 0;
              padding: 0;
            }
          }
          &.busd {
            background-color: rgba(19, 18, 18, 0.5);
          }
        }
      }
      @include xs {
        text-align: left;
        .img {
          width: 230px;
          height: 160px;
          margin-bottom: 15px;
        }
        .bobs {
          display: block;
          p {
            display: inline-block !important;
            padding: 1px 10px;
            margin: 10px 0 0px 10px;
            &.cond {
              svg {
                position: relative;
                top: 2px;
              }
            }
          }
        }
      }
    }
    .right {
      margin-left: 20px;
      h2 {
        margin-top: 0;
      }
      p {
        font-size: 13px;
        color: rgb(212, 212, 212);
      }
      .options {
        display: flex;
        justify-content: space-between;
        h5 {
          margin-bottom: 0;
        }
        p {
          margin: 0;
        }
      }
      .progress {
        .prog {
          width: 100%;
          height: 7px;
          background-color: rgb(68 66 92);
          border-radius: 10px;
        }
        .percentage {
          display: flex;
          justify-content: space-between;
          p {
            margin-top: 5px;
          }
        }
      }
      @include xs {
        margin-left: 0px;
      }
    }
    &:hover {
      background-color: rgba(255, 255, 255, 0.1);
      .left {
        .img {
          img {
            transform: scale(1.05);
          }
        }
      }
    }
    @include sm {
      width: 600px;
      margin: auto;
    }
  }
}